
<div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 ml-15">
    <div class="list-group">
        <a href="#" class="list-group-item active mh">
            <h4 class="list-group-item-heading">Duyduk Duymadık Demeyin</h4>
            <p class="list-group-item-text">1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının...</p>
        </a>
        <a href="#" class="list-group-item mh">
            <h4 class="list-group-item-heading">Kuru Ekmek Yemeyin </h4>
            <p class="list-group-item-text">Yinelenen bir sayfa içeriğinin okuyucunun dikkatini dağıttığı...</p>
        </a>
        <a href="#" class="list-group-item  mh">
            <h4 class="list-group-item-heading">Paranız yoksa eğer</h4>
            <p class="list-group-item-text">adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak...</p>
        </a>
        <a href="#" class="list-group-item mh">
            <h4 class="list-group-item-heading">Sigara için</h4>
            <p class="list-group-item-text">Çiçero tarafından yazılan 1.10.32 ve 1.10.33 bölümleri...</p>
        </a>
    </div>
</div>