<link href="~/Content/css/footer.css" rel="stylesheet" />
<div class="clearfix"></div>
<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Tercih<span>WEB</span></h3>
        <p class="footer-links">
            <a href="/Site/Index">Anasayfa</a>
            ·
            <a href="/UniPuan/Index">Üniversite Puanları</a>
            ·
            <a href="/UniPuan/PuanHesaplama">Üniversite Puan Hesaplama</a>
            ·
            <a href="/LisePuan/PuanHesaplama">Lise Puan Hesaplama</a>
        </p>
        <p class="footer-company-name">TercihWEB &copy; 2016</p>

    </div>
</footer>