
@{
    ViewBag.Title = "Kullanicilar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="~/Scripts/Admin/kullanicilar.js"></script>
<h2>Kullanicilar</h2>
<div class="">
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>Kullanıcı Resmi</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Kullanıcı Adı</th>
                <th>Email</th>
                <th></th>
            </tr>   
        </thead>
        <tbody id="kullanicilar">

        </tbody>
    </table>
</div>
