
@{
    ViewBag.Title = "Index";
}

<div class="">
    <div class="">
        @Html.Partial("PartialDuyuru")
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
        <a href="/Kullanici/TercihListesi">Tercih Listem</a>
    </div>
</div>
