
@{
    ViewBag.Title = "Index";
}

<div class="">
    <div class="">
        @Html.Partial("PartialDuyuru")
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
        <a href="/Kullanici/TercihListesi" class="btn btn-info btn-md" role="button">Tercih Listem</a>
        <a href="/Hesap/SifreDegistir" class="btn btn-warning btn-md" role="button">Şifremi Değiştir</a>

    </div>
</div>
