
@{
    ViewBag.Title = "KayitBasarili";
}
<script src="~/Scripts/Hesap/kayitBasarili.js"></script>
<input type="hidden" id="id" value="@ViewBag.id" />
<h2>Kayıt Başarılı</h2>
<div id="sonuc"></div>
