
@{
    ViewBag.Title = "PuanHesaplama";
}
<link href="~/Content/LisePuan/PuanHesaplama.css" rel="stylesheet" />
<script src="~/Scripts/LisePuan/PuanHesaplama.js"></script>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 ml-15">
        <div>
            @Html.Partial("PartialDuyuru")
        </div>
        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12 ml-15">
            <form id="form1">
                <h2>Lise Puan Hesaplama</h2>

                <table class="width">
                    <thead>
                        <tr>
                            <th colspan="3">   <label for="yilsonu_basari_puani">Yılsonu Başarı Puanı</label> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label for="sinif6">6.Sınıf</label></td>
                            <td colspan="2" class="description">
                                <input class="textboxes" id="txt_sinif6" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td><label for="sinif7">7.Sınıf</label></td>
                            <td colspan="2" class="description">
                                <input class="textboxes" id="txt_sinif7" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td><label for="sinif8">8.Sınıf (Tahmini) </label></td>
                            <td colspan="2" class="description">
                                <input class="textboxes" id="txt_sinif8" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="3"><label for="sinav_soru_sayilari"> Derslere Göre Doğru Cevap Sayıları </label></th>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <th> <label for="ders_adi">Ders Adı</label> </th>
                            <th> <label for="donem1">1. Dönem</label>  </th>
                            <th>
                                <label for="donem2">2. Dönem</label>
                            </th>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td> <label for="turkce"> Türkçe (20) </label> </td>
                            <td class="description">
                                <input class="textboxes" id="txt_turkce" type="text" />
                            </td>
                            <td class="description">
                                <input class="textboxes" id="txt_turkce2" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td> <label for="matematik"> Matematik (20) </label> </td>
                            <td class="description">
                                <input class="textboxes" id="txt_matematik" type="text" />
                            </td>
                            <td class="description">
                                <input class="textboxes" id="txt_matematik2" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td> <label for="fen"> Fen ve Teknoloji (20) </label> </td>
                            <td class="description">
                                <input class="textboxes" id="txt_fen" type="text" />
                            </td>
                            <td class="description">
                                <input class="textboxes" id="txt_fen2" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td> <label for="inkilap"> İnkılap Tarihi (20) </label> </td>
                            <td class="description">
                                <input class="textboxes" id="txt_inkilap" type="text" />
                            </td>
                            <td class="description">
                                <input class="textboxes" id="txt_inkilap2" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td> <label for="yabanci_dil"> Yabancı Dil (20) </label> </td>
                            <td class="description">
                                <input class="textboxes" id="txt_yabanciDil" type="text" />
                            </td>
                            <td class="description">
                                <input class="textboxes" id="txt_yabanciDil2" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td> <label for="din"> Din Kültürü (20) </label> </td>
                            <td class="description">
                                <input class="textboxes" id="txt_din" type="text" />
                            </td>
                            <td class="description">
                                <input class="textboxes" id="txt_din2" type="text" />
                            </td>
                        </tr>
                        <tr><td colspan="3"></td></tr>
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            <td> <input class="myButton" id="btn_temizle" type="button" value="Temizle" /></td>
                            <td colspan="2">
                                <input class="myButton" id="btn_hesapla" type="button" value="Hesapla" />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <div id="Puanlar"></div>
            </form>
        </div>
    </div>
</div>